@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*#### Contenedores ####*/

body {
    background-color: #7fc0f5;
    font-family: "Mulish", sans-serif;
    font-weight: 500;
}

div {
    width: 300px;
    background-color: #329df5;
    padding: 16px;
    border: 3px solid #1487f9;
    border-radius: 8px;
    margin: 24px;
}

img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 16px;
}

p {
    color: #fafafa;
}